<% include ../layout/head %> 
    <header>
        <h1>新增文章</h1>
    </header>
    <div class="container">
    <form class="form-horizontal" style="padding-top:50px;">
      <div class="form-group">
        <label class="col-sm-2 control-label">标题：</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="J_title" placeholder="标题" value="" >
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">内容：</label>
        <div class="col-sm-10">
          <textarea class="form-control" rows="3" id="J_info"></textarea>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" data-loading-text="Loading..." class="btn btn-default" autocomplete="off">提 交</button>
        </div>
      </div>
    </form>
    </div>
<script>
$(function(){
  var _from = $('.form-horizontal');
  var _id = _from.data('id');
  var _btn = _from.find('button');
  _btn.on('click',function(e){
    var $btn = $(this).button('loading')
    e.preventDefault();
    $.ajax({
        url: "/v1/add",
        type: "POST",
        data:{
          title:$('#J_title').val(),
          info:$('#J_info').val()
        }
    }).done(function(data) {
      $btn.button('reset');
      console.log(data)
      window.location.href='http://localhost:8088/articles/'+data.data._id
        
    }).fail(function(jqXHR, textStatus) {
      $btn.button('reset')
      alert( "Request failed: " + textStatus );
    });;
  })
})
</script>
<% include ../layout/foot %>