<% include ../layout/head %> 
    <header>
        <h1>编辑文章</h1>
    </header>
    <div class="content">
      <p>
        标题：<input type="text" value=<%= title %> />
      </p>
      <p>
        内容：<textarea><%= info %></textarea>
      </p>
    </div>
<script>
$(function(){
    $.ajax({
        url: "v1/home"
    }).done(function(data) {
        var _list = $('#J_list');
        var _tpl =[];
        if(data.code===200&&data.data.length>0){
            data.data.forEach(function(v,i){
                _tpl.push([
                    '<li>',
                    '<a href="articles/'+v._id+'">',
                    '<h3>'+v.title+'</h3>',
                    '<p>'+v.info+'</p>',
                    '</a>',
                    '</li>'
                ].join(''))
            })
            _list.html(_tpl)
        }
    });
})
</script>
<% include ../layout/foot %>