header {
  position: relative;
  text-align: center;
  background: linear-gradient(45deg, #020031 0, #6d3353 100%);
  color: #fff;
  margin-bottom: 0;
  padding-bottom: 50px;
  padding-top: 20px;
}

header h1 {
  font-size: 40px;
  text-shadow: -5px 5px 0 rgba(0, 0, 0, .1);
}

.add-btn {
  position: absolute;
  right: 0;
  z-index: 10;
}

.home-items {
  width: 100%;
  margin-top: 20px;
  list-style: none
}

.home-items li {
  float: left;
  padding: 20px;
}

.home-items li a {
  color: #333;
}